@{
    var EmpInfor = ViewBag.EmpInfor;
}
<div class="row">

    <div>
        <div>
            <h4 style="color:blue">Employeement</h4>
            <h6>@EmpInfor.Designation</h6>
            <ul>
                <li>@EmpInfor.CompanyName</li>
                <li>@EmpInfor.SkillSet</li>
                <li>@EmpInfor.StartYear</li>
                <li>@EmpInfor.StartMonth</li>
                <li>@EmpInfor.NoticePeriod</li>
            </ul>
        </div>
    </div>

</div>
